body{
  background-color: black;
  color: white;
  padding: 10px;
}

h1, h2{
  color: yellow;
}

.container{
  display: flex;
  flex-direction: row;
}

.mobile {
  display: none;
}

.mobilenav{
  display: none;
}

.mobilenav ul{
  list-style-type: none;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.mobilenav li{
  margin: 5px;
  background-color: red;
  border-radius: 5px;
  padding: 6px;
}

.mobilenav a, .mobilenav a:active, .mobilenav a:visited{
  color: yellow;
}

.mobilenav a:hover{
  font-style: italic;
}



nav{
  margin-right: 10px;
}

@media only screen and (max-width: 50em){
  .mobile{
    display: flex;
  }

  .desktop{
    display: none;
  }


  .container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mobilenav{
    display: flex;
    justify-content: center;
  }

  .mobilenav ul{
    justify-content: center;
  }
}
