@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');

*{
  padding: 0
  margin: 0;
}

@font-face{
  font-family: "Catharsis";
  src: url('Catharsis.ttf') format('truetype'),
      url('Catharsis.woff') format('woff');
}

a, a:active, a:visited{
  color: brown;
}

body{
  background-image: url('concrete.png');
  background-size: cover;
  background-color: #FEAC1B;
  font-family: "Helvetica", sans-serif;
}

h1{
  font-family: 'Catharsis', 'Marcellus SC', serif;
  font-size: 3em;
}

h2{
  font-family: 'Arial', sans-serif;
  font-size: 1.3em;
  text-align: left;
}

p{
  font-family: 'Playfair Display', serif;
}

.oops{
  display:none;
}

.showoops{
  display: flex;
  width: 800px;
  height: 400px;
  background-color: brown;
  align-items: center;
  text-align: center;
}

.hideparchment{
  display: none;
}

.pill{
  display:none;
}

.rx{
  align-self: center;
  z-index: -1;
  display: block;
  margin-bottom: 30px;
}

.poem{
  display:none;
}

.showpoem{
  display: block;
  position: absolute;
  z-index: 99;
  text-align: center;
  width: 30%;
  height: 30%;
  top: 30%;
  left: 42%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 0px;
  transform: rotate(-3deg);
  scrollbar-color: orange lightgrey;
  scrollbar-width: thin;
}

.showpoem > p{
  font-family: 'Arial', sans-serif;
  font-size: 0.8em;
  text-transform: uppercase;
}
.showpoem::-webkit-scrollbar {
  width: 0.3em;
}

.showpoem::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.showpoem::-webkit-scrollbar-thumb {
  background-color: orange;
  outline: 1px solid slategrey;
}

.hidetxt{
  display:none;
}

.flexbox{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.outer{
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.collection{
  display: flex;
  align-self: center;
  flex-direction: column;
  z-index: 1;
}

#rosary{
  margin-bottom: 20px;
}

#button{
  position: relative;
  left: 10%;
}

#passion{
  margin-top: 80px;
  transform: rotate(20deg);
}

.pic{
  position: relative;
  left: 23%;
}

.container{
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: -20px;
  width: 100%;
}

.container img{
  width: 90%;
  height: auto;
}

.txt{
  position: absolute;
  top: 15%;
  left: 20%;
  text-align: center;
  width: 60%;
  height: 70%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 10px;
  scrollbar-color: #ad8539 lightgrey;
  scrollbar-width: thin;

}

.txt > p{
  line-height: 1.5em;
}



@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes shake2{
  0% { transform: translate(1px, 1px) rotate(20deg); }
  10% { transform: translate(-1px, -2px) rotate(19deg); }
  20% { transform: translate(-3px, 0px) rotate(21deg); }
  30% { transform: translate(3px, 2px) rotate(20deg); }
  40% { transform: translate(1px, -1px) rotate(21deg); }
  50% { transform: translate(-1px, 2px) rotate(19deg); }
  60% { transform: translate(-3px, 1px) rotate(20deg); }
  70% { transform: translate(3px, 1px) rotate(19deg); }
  80% { transform: translate(-1px, -1px) rotate(21deg); }
  90% { transform: translate(1px, 2px) rotate(20deg); }
  100% { transform: translate(1px, -2px) rotate(19deg); }
}



footer {
  margin-bottom: 30px;
  font-size: 0.8em;
  color: brown;
  text-align: center;
}

footer a, footer a:active, footer a:visited{
  color: brown;
}

footer a:hover{
  color: black;
  transition: color 1s;
}

hr{
  margin-top: 20px;
  background-color: brown;
}

.txt::-webkit-scrollbar {
  width: 0.5em;
}

.txt::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.txt::-webkit-scrollbar-thumb {
  background-color: #ad8539;
  outline: 1px solid slategrey;
}

@media only screen and (min-width: 50em){
  #button img:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;

    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }

  #passion:hover{
    animation: shake2 0.5s;
    animation-iteration-count: infinite;
  }

  #rosary:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
}

@media only screen and (max-width: 50em){

  .pic{
    margin-right: 23%;
  }

  #passion{
    margin-top: 20px;
    width: 100px;
    margin-left: 40px;
  }

  #button img{
    width: 70px;
  }

  #rosary{
    width: 100px;
  }

  .outer{
    flex-direction: column;
  }

  .collection{
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
  }
}
