@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

@font-face {
  font-family: "Typewriter";
  src: url("Moms-Typewriter.ttf");
}
*{
  margin:0;
  padding:0;
}

header{
  padding-top: 5px;
  padding-left: 5px;
  height: 12%;
  background-color: black;
}

h1{
  font-family: 'Typewriter', serif;
  color: white;
  font-weight: 200;
}

p{
  font-family: 'Typewriter', serif;
  color: white;
  background-color: black;
  font-weight: lighter;
}

body{
  background-image: url('magenta.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.txt{
  margin-left: -10%;
  width: 60%;
  position: relative;
}

.txt img{
  width: 100%;
}

#link1{
  position: absolute;
  top: 5%;
  left: 45%;
  width: 20%;
}

#link2{
  position: absolute;
  left: 45%;
  top: 22%;
  width: 30%;
}

#link3{
  position: absolute;
  left: 45%;
  top: 39%;
  width: 30%;
}

#link4{
  position: absolute;
  left: 45%;
  top: 54%;
  width: 45%;
}

#link5{
  position: absolute;
  left: 45%;
  top: 69%;
  width: 20%;
}

#lines{
  z-index: -1;
  margin-left: -10%;
}

#lines img{
  width: 100%;
}

.container{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


#cia{
  width: 40%;
  z-index: 1;
}

#cia img{
  width: 100%;
}
}
